{
  "comments": false,
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    // // Stage 0
    // "@babel/plugin-proposal-function-bind",
    // // Stage 1
    // "@babel/plugin-proposal-export-default-from",
    // "@babel/plugin-proposal-logical-assignment-operators",
    // [
    //   "@babel/plugin-proposal-optional-chaining",
    //   {
    //     "loose": false
    //   }
    // ],
    // [
    //   "@babel/plugin-proposal-pipeline-operator",
    //   {
    //     "proposal": "minimal"
    //   }
    // ],
    // [
    //   "@babel/plugin-proposal-nullish-coalescing-operator",
    //   {
    //     "loose": false
    //   }
    // ],
    // "@babel/plugin-proposal-do-expressions",
    // Stage 2
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    // Stage 3
    // "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    // // "@babel/plugin-proposal-json-strings"
    // [
    //   "module-resolver",
    //   {
    //     "root": [
    //       "./"
    //     ],
    //     "alias": {
    //       "@ttkv": "@ttk/vue"
    //     }
    //   }
    // ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules":"umd", // 将 ES6 module 转换为其他模块规范，可选 "adm" | "umd" | "systemjs" | "commonjs" | "cjs" | false，默认为 false
        // "modules": false,
        // "useBuiltIns": "usage",
        "useBuiltIns": "false", // 为 polyfills 应用 @babel/preset-env ，可选 "usage" | "entry" | false，默认为 false
        "corejs": "3",
        // include：一个包含使用的 plugins 的数组
        // exclude：一个包含不使用的 plugins 的数组
        "targets": {
          "esmodules":true, // esmodules
          "browsers": [
            "> 0.2%",
            "last 2 versions",
            "ie >= 9"
          ]
        }
      }
    ]
  ]
  // "env": {
  //   "lib": {
  //     "presets": [
  //       [
  //         "@babel/preset-env",
  //         {
  //           "loose": true,
  //           "modules": "commonjs",
  //           "targets": {
  //             "browsers": [
  //               "> 0.2%",
  //               "last 2 versions",
  //               "ie 11",
  //               "ie 10",
  //               "ie 9"
  //             ]
  //           }
  //         }
  //       ]
  //     ],
  //     "plugins": [
  //       [
  //         "module-resolver",
  //         {
  //           "root": [
  //             "./"
  //           ],
  //           "alias": {
  //             "@ttk/vue/src": "@ttk/vue/lib"
  //           }
  //         }
  //       ]
  //     ]
  //   }
  // }
}