.tax-app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 20px;
  background-repeat: no-repeat;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  background-color: #1d82d8;
  background-position: right;
  background-image: url("~@ttkv/packages/assets/tax/images/common/logintop.png");
}
